<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserInfoMapper">

    <resultMap id="UserInfoMapper" type="com.tencent.wxcloudrun.model.UserInfo">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userWxHm" column="user_wx_hm"/>
        <result property="userDeptName" column="user_dept_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userDate" column="user_date" javaType="java.time.LocalDateTime"/>
        <result property="userStatus" column="user_status"/>
        <result property="userPermission" column="user_permission"/>
    </resultMap>

    <select id="getUserInfo" resultMap="UserInfoMapper" parameterType="java.lang.String">
        SELECT `user_id`, `user_name`, `user_wx_hm`, `user_dept_name`
        , `user_phone`, `user_date`, `user_status`, `user_permission`
        FROM user_info
        WHERE user_wx_hm = #{userWxHm}
    </select>

    <delete id="clearUserInfo" parameterType="java.lang.String">
        DELETE
        FROM user_info
        where user_id= #{userId}
        limit 1
    </delete>

    <insert id="upsertUserInfo" parameterType="com.tencent.wxcloudrun.model.UserInfo">
        INSERT INTO `user_info`( `user_id`,`user_name`, `user_wx_hm`, `user_dept_name`
        , `user_phone`, `user_date`, `user_status`, `user_permission`)
        VALUE(#{userId},#{userName}, #{userWxHm}, #{userDeptName}, #{userPhone},
         sysdate(), #{userStatus}, #{userPermission})

    </insert>
    <update id="updateUserInfo" parameterType="com.tencent.wxcloudrun.model.UserInfo">
        update user_info
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userDeptName != null and userDeptName != ''">user_dept_name = #{userDeptName},</if>
            <if test="userPhone != null">user_phone = #{userPhone},</if>
            <if test="userStatus != null and userStatus != ''">user_status = #{userStatus},</if>
            <if test="userPermission != null and userPermission != ''">user_permission = #{userPermission},</if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <select id="getUserinfoList" resultMap="UserInfoMapper" parameterType="com.tencent.wxcloudrun.model.UserInfo">
        SELECT `user_id`, `user_name`, `user_wx_hm`, `user_dept_name`
        , `user_phone`, `user_date`, `user_status`, `user_permission`
        FROM user_info
        WHERE 1=1
        <if test="userInfo.userDeptName != null and userInfo.userDeptName != ''">
            and user_dept_name = #{userInfo.userDeptName}
        </if>
        <if test="userInfo.userStatus != null and userInfo.userStatus != ''">
            and user_status = #{userInfo.userStatus}
        </if>
        <if test="userInfo.userName != null and userInfo.userName != ''">
            AND user_name like concat('%', #{userName}, '%')
        </if>
        <if test="userInfo.userPermission != null and userInfo.userPermission != ''">
            and user_permission = #{userInfo.userPermission}
        </if>
        <if test="userInfo.userPhone != null and userInfo.userPhone != ''">
            and user_phone = #{userInfo.userPhone}
        </if>
    </select>

</mapper>
